Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/AppManifest.xaml
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Assets/ApplicationIcon.png
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Assets/Tiles/FlipCycleTileLarge.png
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Assets/Tiles/FlipCycleTileMedium.png
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Assets/Tiles/FlipCycleTileSmall.png
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Assets/Tiles/IconicTileMediumLarge.png
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Assets/Tiles/IconicTileSmall.png
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Microsoft.Phone.Controls.Toolkit.xml
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Newtonsoft.Json.xml
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Properties/WMAppManifest.xml
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Sqlite.winmd
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Telerik.Windows.Controls.Input.xml
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/Telerik.Windows.Core.xml
Windows Phone/farmapp/pillsSV/Bin/ARM/Debug/telerik.windows.controls.primitives.xml
Windows Phone/farmapp/pillsSV/Bin/Debug/AppManifest.xaml
Windows Phone/farmapp/pillsSV/Bin/Debug/Assets/ApplicationIcon.png
Windows Phone/farmapp/pillsSV/Bin/Debug/Assets/Tiles/FlipCycleTileLarge.png
Windows Phone/farmapp/pillsSV/Bin/Debug/Assets/Tiles/FlipCycleTileMedium.png
Windows Phone/farmapp/pillsSV/Bin/Debug/Assets/Tiles/FlipCycleTileSmall.png
Windows Phone/farmapp/pillsSV/Bin/Debug/Assets/Tiles/IconicTileMediumLarge.png
Windows Phone/farmapp/pillsSV/Bin/Debug/Assets/Tiles/IconicTileSmall.png
Windows Phone/farmapp/pillsSV/Bin/Debug/Microsoft.Phone.Controls.Toolkit.xml
Windows Phone/farmapp/pillsSV/Bin/Debug/Newtonsoft.Json.xml
Windows Phone/farmapp/pillsSV/Bin/Debug/Properties/WMAppManifest.xml
Windows Phone/farmapp/pillsSV/Bin/Debug/Telerik.Windows.Core.xml
Windows Phone/farmapp/pillsSV/Bin/Debug/pillsSV_Debug_AnyCPU.xap
Windows Phone/farmapp/pillsSV/Bin/Debug/telerik.windows.controls.primitives.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/AppManifest.xaml
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Assets/ApplicationIcon.png
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Assets/Tiles/FlipCycleTileLarge.png
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Assets/Tiles/FlipCycleTileMedium.png
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Assets/Tiles/FlipCycleTileSmall.png
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Assets/Tiles/IconicTileMediumLarge.png
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Assets/Tiles/IconicTileSmall.png
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Microsoft.Phone.Controls.Toolkit.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Newtonsoft.Json.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Properties/WMAppManifest.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Sqlite.winmd
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Telerik.Windows.Controls.Input.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/Telerik.Windows.Core.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/pillsSV_Debug_x86.xap
Windows Phone/farmapp/pillsSV/Bin/x86/Debug/telerik.windows.controls.primitives.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Release/AppManifest.xaml
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Assets/ApplicationIcon.png
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Assets/Tiles/FlipCycleTileLarge.png
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Assets/Tiles/FlipCycleTileMedium.png
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Assets/Tiles/FlipCycleTileSmall.png
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Assets/Tiles/IconicTileMediumLarge.png
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Assets/Tiles/IconicTileSmall.png
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Microsoft.Phone.Controls.Toolkit.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Newtonsoft.Json.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Properties/WMAppManifest.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Sqlite.winmd
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Telerik.Windows.Controls.Input.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Release/Telerik.Windows.Core.xml
Windows Phone/farmapp/pillsSV/Bin/x86/Release/telerik.windows.controls.primitives.xml
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/App.g.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/App.g.i.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/MainPage.g.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/MainPage.g.i.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/XapCacheFile.xml
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/farmapp.csproj.FileListAbsolute.txt
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/about.g.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/about.g.i.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/drugResult.g.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/drugResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/help.g.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/help.g.i.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/mapResult.g.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/mapResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/medResult.g.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/medResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/profile.g.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/profile.g.i.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/shareOptions.g.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pages/shareOptions.g.i.cs
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pillsSV.Resources.AppResources.es.resources
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pillsSV.Resources.AppResources.resources
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pillsSV.csproj.FileListAbsolute.txt
Windows Phone/farmapp/pillsSV/obj/ARM/Debug/pillsSV.g.resources
Windows Phone/farmapp/pillsSV/obj/Debug/App.g.cs
Windows Phone/farmapp/pillsSV/obj/Debug/App.g.i.cs
Windows Phone/farmapp/pillsSV/obj/Debug/MainPage.g.cs
Windows Phone/farmapp/pillsSV/obj/Debug/MainPage.g.i.cs
Windows Phone/farmapp/pillsSV/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Windows Phone/farmapp/pillsSV/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Windows Phone/farmapp/pillsSV/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Windows Phone/farmapp/pillsSV/obj/Debug/XapCacheFile.xml
Windows Phone/farmapp/pillsSV/obj/Debug/farmapp.csproj.FileListAbsolute.txt
Windows Phone/farmapp/pillsSV/obj/Debug/pages/about.g.i.cs
Windows Phone/farmapp/pillsSV/obj/Debug/pages/drugResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/Debug/pages/help.g.i.cs
Windows Phone/farmapp/pillsSV/obj/Debug/pages/mapResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/Debug/pages/medResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/Debug/pages/profile.g.i.cs
Windows Phone/farmapp/pillsSV/obj/Debug/pillsSV.Resources.AppResources.resources
Windows Phone/farmapp/pillsSV/obj/Debug/pillsSV.csproj.FileListAbsolute.txt
Windows Phone/farmapp/pillsSV/obj/Debug/pillsSV.g.resources
Windows Phone/farmapp/pillsSV/obj/x86/Debug/App.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/App.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/MainPage.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/MainPage.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/about.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/about.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/drugResult.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/drugResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/help.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/help.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/mapResult.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/mapResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/medResult.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/medResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/profile.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/profile.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/shareOptions.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/Pages/shareOptions.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Windows Phone/farmapp/pillsSV/obj/x86/Debug/XapCacheFile.xml
Windows Phone/farmapp/pillsSV/obj/x86/Debug/farmapp.csproj.FileListAbsolute.txt
Windows Phone/farmapp/pillsSV/obj/x86/Debug/pillsSV.Resources.AppResources.es.resources
Windows Phone/farmapp/pillsSV/obj/x86/Debug/pillsSV.Resources.AppResources.resources
Windows Phone/farmapp/pillsSV/obj/x86/Debug/pillsSV.csproj.FileListAbsolute.txt
Windows Phone/farmapp/pillsSV/obj/x86/Debug/pillsSV.g.resources
Windows Phone/farmapp/pillsSV/obj/x86/Release/App.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/App.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/MainPage.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/MainPage.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/about.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/about.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/drugResult.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/drugResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/help.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/help.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/mapResult.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/mapResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/medResult.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/medResult.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/profile.g.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/Pages/profile.g.i.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Windows Phone/farmapp/pillsSV/obj/x86/Release/XapCacheFile.xml
Windows Phone/farmapp/pillsSV/obj/x86/Release/pillsSV.Resources.AppResources.es.resources
Windows Phone/farmapp/pillsSV/obj/x86/Release/pillsSV.Resources.AppResources.resources
Windows Phone/farmapp/pillsSV/obj/x86/Release/pillsSV.csproj.FileListAbsolute.txt
Windows Phone/farmapp/pillsSV/obj/x86/Release/pillsSV.g.resources
